.admin {
    min-height: 100vh;
    padding-top: 5vh;
}

.card {
    width: 20vw;
    text-align: center;
}

.admin-arrangements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.add-arrangement {
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 5vh;
}

.add-arrangement input {
    width: 50%;
    margin: auto;
    text-align: center;
}
