* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: "Permanent Marker";
    font-weight: 400;
    font-style: normal;
}

h4,
h5 {
    font-size: small;
}

h4 {
    color: rgb(249, 248, 22)
}

.btn-warning-darker {
    background: rgb(190, 190, 2);
}




/* -----------------------------NAV------------------------------- */

nav {
    background: rgb(62, 17, 78);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    font-family: "Permanent Marker";
    font-weight: 400;
    font-size: larger;
    font-style: normal;
}

.nav-logo {
    height: 100% !important;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40vw;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: rgb(249, 248, 22)
}

@media (max-width: 768px) {
    .nav-text {
        display: none;
    }

    .fa-bars {
        display: block !important;
        position: absolute;
        left: 10vw;
        color: white;
    }

    .nav-logo {
        width: 50vw !important;
        height: fit-content !important;
        margin: auto;
    }
    
    nav .btn, .nav-links {
        display: none;
    }

    #mobile-nav-section {
        display: block;
        position: fixed;
        color: white;
        padding-bottom: 5vh;
        width: 100vw;
    }

    .show-mobile-nav {
        display: flex !important;
        flex-direction: column;
        justify-content: space-around;
        height: 50vh;
        transition: height 0.5s ease-in-out;
        opacity: 1 !important;
        pointer-events: all;
        background: rgb(62, 17, 78);
        z-index: 100;
    }

    .hide-mobile-nav {
        display: none;
        height: 0;
        opacity: 0;
        pointer-events: none;
    }

    .mobile-nav-text {
        display: block !important;
        text-align: center;
        font-weight: 700;
        padding-top: 5vh;
        color: white;
        text-decoration: none;
    }
}

#mobile-nav-section, .fa-bars {
    display: none;
}

/* ---------------------------CONTACT------------------------------ */
.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form {
    width: 50vw;
    margin-bottom: 20vh;
}

.contact h2 {
    margin-top: 10vh;
}

.form-control {
    width: 50vw;
}

/* -----------------------------FOOTER------------------------------ */

footer {
    height: 25vh;
    background: rgb(90, 33, 100);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-direction: column;
}

footer div {
    width: 100vw;
}

.social-icons .btn {
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.social-icons img {
    width: 100%;
}

@media (max-width: 768px) {
    .footer-text {
        display: none;
    }

    .footer-contact-btn {
        display: none;
    }

    .social-icons {
        width: 40vw;
    }
}

@media (max-width: 500px) {
    .social-icons {
        width: 80vw;
    }
}