/* -------------------------------HERO------------------------------------ */

.home-hero-container {
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
  text-align: center;
  background: rgb(62, 17, 78)
}

.home-hero-container h2 {
  color: rgb(249, 248, 22)
}

.hero-image {
  min-width: 100%;
  object-fit: cover !important;
  opacity: 0.4;
}

.hero-text {
  position: absolute;
  width: 50vw;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-logo {
  width: 100%;
}

.hero-container h2 {
  color: rgb(249, 248, 22);
}

.btn-warning {
  background: rgb(249, 248, 22);
  color: rgb(62, 17, 78);
}

/* ----------------------------MEET JERICO--------------------------------- */

.meet-jerico {
  min-height: 100vh;
  width: 80vw;
  margin: auto;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.meet-jerico h2 {
  color: rgb(90, 33, 100);
  scale: 1.5;
}

.meet-jerico-img-div {
  width: 30vw;
}

.meet-jerico-img-div img {
  width: 100%;
  border-radius: 50%;
}

.meet-jerico-info {
  width: 40vw;
  text-align: center;
}


/* ---------------------------TESTIMONIALS------------------------------------ */

.testimonials {
  min-height: 100vh;
  background: rgb(90, 33, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.testimonial-box-1,
.testimonial-box-2,
.testimonial-box-3 {
  display: flex;
  flex-direction: column;

  height: 40vh;
  width: 70vw;
  background: black;
  color: white;

}

.testimonial-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 70%;
  text-align: center;
  margin-bottom: 1rem;
}

.testimonial-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: testimonial-box-1 18s infinite;
}

@keyframes testimonial-box-1 {
  0% {
    opacity: 0;
  }

  3% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.testimonial-box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: testimonial-box-2 18s infinite;
}

@keyframes testimonial-box-2 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  63% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.testimonial-box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: testimonial-box-3 18s infinite;
}

@keyframes testimonial-box-3 {
  0% {
    opacity: 0;
  }

  63% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.testimonial-title-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  height: 25%;
  margin-bottom: 5%;
}

.testimonial-title-card img {
  width: 60px;
  margin: 5px;
  border-radius: 50%;
}

/* -----------------------------PRICING-------------------------------- */

.pricing {
  min-height: 100vh;
  width: 80vw;
  margin: auto;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing-box-1,
.pricing-box-2,
.pricing-box-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  border: 2px solid rgb(62, 17, 78);

}

.pricing-box-1,
.pricing-box-3 {
  width: 30%;
  height: 40vh;
  background: white;
  color: rgb(90, 33, 100)
}

.pricing-box-2 {
  width: 30%;
  height: 45vh;
  background: rgb(90, 33, 100);
  color: white;
}

.pricing-box-1:hover, .pricing-box-2:hover, .pricing-box-3:hover {
  transform: scale(1.1);
  transition: transform .2s ease-in-out;
}

.pricing-box-price {
  font-family: "Permanent Marker";
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}

.pricing button {
  margin-top: 2vh;
}