.stockarrangements {
    min-height: 100vh;
}

.arrangements-hero-container {
    height: 30vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
    background: rgb(62, 17, 78)
}

.arrangements-hero-container h1 {
    font-size: 5.5vw;
}

.arrangements-hero-container h2 {
    color: rgb(249, 248, 22)
}

.hero-image {
    min-width: 100%;
    object-fit: cover !important;
    opacity: 0.4;
}

.hero-text {
    position: absolute;
    width: 50vw;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-logo {
    width: 100%;
}

.hero-container h2 {
    color: rgb(249, 248, 22);
}

.btn-xs {
    padding: 0.15rem 0.3rem;
    font-size: 0.75rem;
    border-radius: 0.15rem;
  }

.btn-primary {
    background-color: rgb(170, 74, 170);
    /* your purple */
    border-color: rgb(170, 74, 170);
    color: white;
}

/* Hover, Focus, Active */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    background-color: rgb(140, 50, 140) !important;
    /* darker purple */
    border-color: rgb(140, 50, 140);
    color: white;
}

/* Remove Bootstrap's blue box-shadow */
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus {
    box-shadow: 0 0 0 0.25rem rgba(170, 74, 170, 0.5);
    /* subtle purple shadow */
}

.btn-primary-darker,
.btn-primary-darker:hover {
    color: rgb(170, 74, 170);
    background-color: rgb(249, 248, 22);
    border-color: rgb(249, 248, 22);
}


.card {
    width: 20vw;
    text-align: center;
    margin-top: 2vh;
}

.arrangements-maindiv {
    display: flex;
    width: 90vw;
    margin: auto;
}

.arrangements-filters-div {
    display: flex;
    flex-direction: column;
    width: 15vw;
    margin-top: 12vh;
}

.arrangements-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.stockarrangements-categories,
.stockarrangements-tags,
.stockarrangements-functions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.stockarrangements-showall {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4vh;
}

.arrangement-card-link {
    text-decoration: none;
    color: black;
}

.arrangement-card-link:hover {
    text-decoration: none;
    color: rgb(170, 74, 170);
}

.mobile-arrangements-accordion {
    display: none;
}

@media (max-width: 500px) {
    .arrangements-maindiv {
        display: flex;
        justify-content: space-between;
        width: 80vw;
        margin: auto;
    }

    .arrangements-list {
        display: block;
        width: 80vw;
        margin: 0;
        margin-top: 10vh;
    }

    .card {
        width: 80vw !important;
    }
}

@media (max-width: 768px) {
    .arrangements-filters-div {
        display: none;
    }

    .stockarrangements-categories h2,
    .stockarrangements-tags h2,
    .stockarrangements-functions h2 {
        display: none;
    }

    .stockarrangements-categories,
    .stockarrangements-tags,
    .stockarrangements-functions {
        flex-direction: row;
    }

    .mobile-arrangements-accordion {
        display: block;
    }

    .mobile-arrangements-accordion .accordion-button,
    .mobile-arrangements-accordion .accordion-item {
        display: block;
        width: 100vw;
        border-radius: 0 !important;
        margin: 0;
        border: 0;
        text-align: center;
    }

    .card {
        width: 30vw;
    }
}